/** @format */
.container {
  padding: 0 11%;
  padding-top: 110px;
  background-color: var(--color-image-background);
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 93%;
  margin: 0 auto;
}

.projectBox {
  flex: 0 40%;
  padding-top: 70px;
}

.linkStyling {
  text-decoration: none;
  color: var(--color-text-body);
}

.title {
  text-align: left;
  margin: 0;
  font: var(--font-text-header);
  color: var(--color-text-body);
}

.github {
  text-align: right;
  text-decoration: underline;
  font: var(--font-text-semiBold);
  font-style: italic;
}

.inProgress {
  text-align: right;
  font: var(--font-text-semiBold);
  color: var(--color-text-body);
}
