/** @format */

:root {
  --color-text-body: #ffffff;
  --color-image-background: #1b1818;
  --color-neon-pink: #f23eeb;
  --color-neon-green: #3ef2b8;
  --color-background-primary: #f6f6f6;
  --color-button-dropdown: #b2cbf5;
  --font-nav-text: 600 32px Syne;
  --font-body-scrollDown: 800 22px Syne;
  --font-body-title: 800 36px Syne;
  --font-subBody-title: 800 36px Syne;
  --font-text-body: 400 16px Barlow;
  --font-text-bold: 600 16px Barlow;
  --font-text-semiBold: 400 20px Barlow;
  --font-upcomingEvent-date: 600 30px Barlow;
  --font-notes-body: 600 16px Barlow;
}

@media only screen and (min-width: 600px) {
  :root {
    --font-body-heading: 600 64px Barlow;
    --font-body-subheading: 800 30px Barlow;
    --font-body-title: 800 96px Syne;
    --font-subBody-title: 800 64px Syne;
    --font-text-body: 600 20px Barlow;
    --font-text-bold: 800 20px Barlow;
    --font-text-semiBold: 600 30px Barlow;
    --font-upcomingEvent-date: 600 60px Barlow;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
